* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0 !important;
}
span {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0 !important;
}
.swiper-pagination-bullet {
  opacity: 1 !important;
  background: #fff !important;
  width: 7px !important;
  height: 7px !important ;
  border-radius: 50% !important;
  border: 1px solid #ed0046 !important;
}
.swiper-pagination-bullet-active {
  background: #ed0046 !important;
  width: 13px !important;
  border-radius: 100px !important;
}
.botom-scroll-container {
  display: flex;
  gap: 24px;
  overflow-x: scroll;
  margin-top: 30px;
}
.HEAD {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100%;
}
.scroll-container {
  overflow-y: scroll;
  margin-top: 184px;
  height: 40vh;
  overflow-x: hidden;
}

.maz-py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}
.single-form-check {
  margin-right: 4.5rem !important;
}
.m-radio-buttons__items {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) !important;
}
/* .m-radio-buttons__items > selected > .maz-elevation {
  background: #ed0046 !important;
} */
/* .rating {
  border: none;
  float: left;
  font-size: 3rem;
} */
